body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
	height: 100%;
}


/*stylings for  home page */
.cardClass{
	max-width:100%;
	height: 100%;
}
.card-image{
	width: 100%;
	height: 100%;
	object-fit:scale-down;
	background-color: rgb(106, 115, 231);
}

.cardwrapper{
	height: 100%;
	margin-left: 20%;
	margin-right: 10%;
	margin-top:30px;
}

.card-body{
	height: auto;
}
.card-description{
	overflow: hidden;
}

.homeBody {
	height: max content;
	background-color: #babec2;
}

.searchbar{
	height: 40px;
	width: 400px;
}
.searchtags{
	height: 40px;
}

/* stylings for auctionpageseller/buyer*/

.countdown-timer span{
	margin-left: 3px;
	margin-right: 3px;
}
.img2 {
	width: 500px;
	height: 600px;
	border: 5px solid #13284C;
	background-color: whitesmoke;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 25px;
}

.Body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height:700px;
    background-color: #babec2;
}

.ProductDescription {
	width: 600px;
	height: 600px;
	border: 5px solid #13284C;
	background-color:whitesmoke;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 25px;
}

.bidBody{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	height:auto;
	margin-top: 10%;
}

button {
	background-color: #13284C;
	color: white;
	border-radius: 50px;
	padding: 5px 55px;
}
a{
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.link td {
	font-size: 15px;
}

input {
	font-family: Verdana;
	letter-spacing: 0.125em;
	padding: 7px 0px;
}

/*****************stylings for profile page ********************/
.editprofilebody{
	background-color: #babec2;
	height:max-content;
}
.profilebuttons{
	display: flex;
	flex-direction: row;
	padding-left: 10%;
}
.profilebody{
	background-color: #babec2;
	height: max-content;
}
.pwbutton{
	background-color: #13284C;
	color: white;
	border-radius: 50px;
	margin-left: 10%;
	margin-top: 3px;
}
.profileRating{
	margin-left: 10%;
	margin-top: 10px;	
}
.img3 {
	width: 200px;
	height: 200px;
	border: 5px solid #13284C;
	background-color: whitesmoke;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 25px;
}

.row.mb-3 {
	float:right;
	right: 500px;
	width: 650px;
	height: 50px;
	border: 2px solid #13284C;
	background-color:whitesmoke;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.button1 {
	background-color: #13284C;
	color: white;
	border-radius: 25px;
	padding: 5px 55px;
	width: 500px;
}
/*stylings for login/logout page */

.LogoutBody{
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 400px;
	height: 500px;
	border: 5px solid #13284C;
	background-color: whitesmoke;
	border-radius: 25px;
}
.Logouttext{
	font-size: larger;
}

.profilepic{
	width: 400px;
	height: 500px;
	border: 5px solid #13284C;
	background-color: whitesmoke;
	border-radius: 25px;
	margin-right: 20px;
}
.log{
	display:flex;
	align-items: center;
	flex-direction: row;
	justify-content:center;
	background-color: #babec2;
	height: 700px;
}
.login-wrap{
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color: #babec2;
	height: 900px;
	padding-top: 10%;
	font-size: larger;
}

/************stylings for create auction **************/
.createauction{
	display:flex;
	align-items: center;
	flex-direction: row;
	justify-content:center;
	background-color: #babec2;
	height: 700px;
}

/*************stylings for help/about *****************/
.aboutbody{
	background-color: #babec2;
	height: 700px;
}

/*******************stylings for sign up *********************/
.signupbody{
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color: #babec2;
	height: 900px;
	padding-top: 10%;
	font-size: larger;
}

/***************stylings for forgot password ***************/
.forgotPWpage{
	background-color: #babec2;
	height: 900px;
	padding-top: 25px;
	font-size: larger;
}